@model List<FoodMartMongo.Dtos.DiscountDtos.ResultDiscountDto>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="card">
        <h5 class="card-header">İndirim Listesi</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Alt Başlık</th>
                        <th>Açıklama</th>
                        <th>Görsel Url</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DiscountId</td>
                            <td>@item.Title</td>
                            <td>@item.SubTitle</td>
                            <td>@item.Description</td>
                            <td>@item.ImageUrl</td>
                            <td><a href="/Discount/DeleteDiscount/@item.DiscountId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Discount/UpdateDiscount/@item.DiscountId" class="btn btn-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <a href="/Discount/CreateDiscount/" class="btn btn-primary">Yeni İndirim Kartı Girişi</a>
        </div>
        <br />
    </div>
</div>
